:root {
    --color_1: #FFFFFF;
    --color_2: #000000;
    --color_3: #3E86F5;
    --color_4: #7C7C7C;
}

.container {
    font-family: 'Poppins', sans-serif;
    padding: 3rem;
    background-color: var(--color_1);
    background-image: url('imgs/mountains.jpg');
    background-size: cover;


}

.main-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
}


.header {
    display: flex;
    justify-content: space-between;
    gap: 40rem;
    margin: 


}

nav {
    display: flex;
    gap: 3rem;
    align-items: center;
    margin: 0 2rem 0 0;
    font-size: 1.1rem;

}

ul {
    display: flex;
    gap: 3rem;
}

a {
    text-decoration: none;
    color: var(--color_1);


}

h1 {
    font-weight: medium;
    font-size: 2.5rem;
    color: var(--color_1);


}


.hero-content {
    position: relative;
    color: var(--color_1);
    top: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    
    


}

.hero {
    height: 32rem;
}

h2 {
    font-weight: bold;
    font-size: 3rem;
    display: flex;
    flex-wrap: wrap;
    width: 40rem;
    text-align: center;
    line-height: 5rem;
}


.hero-content p {
    font-size: 1.2rem;
    width: 38rem;
    text-align: center;
    line-height: 2rem;
}

.flight-bar {
    display: flex;
    flex-direction: column;
}

.flight-top {
    background-color: var(--color_1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--color_2);
    font-size: 1rem;
    height: 5rem;
    width: 20rem;
    border-radius: 1.5rem 1.5rem 0 0;
    font-weight: 500;
    
}

.flight, .hotel {
    display: flex;
    align-items: center;
    
}

.icon {
    width: 1.5rem;
}

.flight-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 59rem;
    height: 12rem;
    border-radius: 0 3rem 3rem 3rem;
    background: var(--color_1);
    padding: 0 3rem;

}

.location {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20rem;
    height: 7rem;
    border: 1px solid #CECECE;
    border-radius: 1.5rem;
    padding: 0 1.5rem;
    
}

.date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 24rem;
    height: 7rem;
    border: 1px solid #CECECE;
    border-radius: 1.5rem;
    padding: 0 1.5rem;

}

.search-button {
    background-color: var(--color_3);
    height: 6rem;
    width: 6rem;
    border-radius: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-button img {
    width: 2.5rem;
    height: 2.5rem;
}
 
.one, .three {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


.one :nth-child(1), .three :nth-child(1), .four :nth-child(1), .six :nth-child(1) {
    font-size: 1rem;
    color: var(--color_4);

}


.one :nth-child(2), .three :nth-child(2), .four :nth-child(2), .six :nth-child(2) {
    font-size: 1.2rem;
    font-weight: 500;
}

.leave, .return {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.leave img {
    transform: rotate(45deg);
    width:1.7rem;
    height: 1.7rem;
}

.return img {
    transform: rotate(225deg);
    width: 1.7rem;
    height: 1.7rem;
}

.two, .five {
    width: 2rem;
    height: 2rem;
    border: 1px dashed #CECECE;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.two img, .five img {
    width: 1.5rem;
    height: 1.5rem;
}

